dist
node_modules
npm-debug.log
/RevealBase.js
/makeCarousel.js
/swipedetect.js
/hamburger.js
/responsive.js
/withReveal.js
/HamburgerIcon.js
/Animation.js
/Spin.js
/Bounce.js
/Fade.js
/Flash.js
/HeadShake.js
/Jello.js
/Jump.js
/Pulse.js
/Roll.js
/RubberBand.js
/Shake.js
/Slide.js
/Swing.js
/Tada.js
/Wobble.js
/Flip.js
/Reveal.js
/Rotate.js
/LightSpeed.js
/Stepper.js
/Step.js
/Zoom.js
/index.js
/globals.js
/debounce.js
/throttle.js
/wrap.js
