#bg {
    position: relative;
    background: #fff;
    overflow: hidden;
    height: 500px;
}
#bg>div.container {
    z-index: 2;
    position: relative;
}
#bg img {
    width: 100%;
    background: #ccc;
    opacity: 0.5;
}
img {
    opacity: 0.5;
}
#bg>#img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

#bg p a{
  color: #336;
}

.jumbotron {
  background-color: transparent;
}
