#bg {
    position: relative;
    background: #fff;
    overflow: hidden;
    height: 500px;
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
#bg>div.container {
    z-index: 2;
    position: relative;
}
#bg img {
    width: 100%;
    background: black;
    background: #ccc;
    /*opacity: 0.5;*/
}

.jumbotron {
  background-color: transparent;
}
