html {
	overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

code {
  color: #24292e;
}


.hamburger {
    width: 100%;
    display: flex;
    display: -ms-flexbox;
}

@media (max-width: 767px) {
  .hamburger {
    margin-left: auto;
    min-height: 2.5rem;
    padding-top: 0.375rem;
    border: 1px solid transparent;
    margin-top: -2.5rem;
    margin-right: 0;
    flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
  }
}


@media (min-width: 768px) {
  .hamburger {
    flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
  }
}
